{% extends 'base.html' %}

{% block title %} Relação de Alunos {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="grid-row texto-centralizado">
        <div class="col-12">
            <h2>Alunos cadastrados</h2>
        </div>
    </div>
    <div class="grid-row">
        <div class="col-12">
            <div>
                <table>
                    <tr>
                        <th>matricula</th>
                        <th>nome</th>
                    </tr>
                    {% for aluno in context.alunos %}
                    <tr>
                        <td>{{ aluno.matricula }}</td>
                        <td>{{ aluno.nome }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock%}